* {
  margin: 0;
  padding: 0;
}

.flex-section {
  background-color: #f9f9f9;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: stretch;
  flex-wrap: wrap; /* para permitir empilhar */
}

/* Coluna de texto */
.flex-text {
  flex: 1;
  background-color: aqua;
}

.flex-text h2 {
  font-size: 2.5rem;
  color: #2d3e50;
  margin-bottom: 20px;
}

.flex-text p {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.8;
}

/* Coluna da imagem */
.flex-image {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.flex-image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-text h2 {
    font-size: 2rem;
    text-align: center;
  }

  .flex-text p {
    text-align: center;
  }

  .flex-image img {
    height: 300px;
  }
}
